:root {
  --font-family: Iosevka Web;
  --background-color: #282828;
  --color: #eddbb2;
  --link-color: #83a598;
  --visited-color: #b16286;
  --code-background-color: #3c3836;
  --code-color: #ebdbb2;
  --blockquote-color: #a89984;
}

@media screen and (max-width: 480px) {
    .logo {
        max-width:40px;
    }
    .logo-link {
        align-self: flex-start;
    }
    .page-header {
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    .nav-button {
        display: block;
        width: 100%;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: var(--background-color);
        z-index: 999;
    }
    #search {
        min-width: 50px;
        /* max-width: 170px; */
        flex: 1;
    }
    #search input {
        max-width: 100%;
    }
    #search button {
        display: none;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
    }
    #main.open {
        max-height: 50vh;
    }
    #user-nav a:nth-child(1) {
        display: none;
    }
    #user-nav {
        gap: 5px;
        font-size: 0.7em;
    }
    #user-nav a {
        padding: 5px;
    }
}