@import url("https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka/iosevka.min.css");

:root {
  --font-family: Iosevka Web;
  --background-color: #282828;
  --color: #eddbb2;
  --link-color: #83a598;
  --visited-color: #b16286;
  --code-background-color: #3c3836;
  --code-color: #ebdbb2;
  --blockquote-color: #a89984;
  color-scheme: light dark;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

a {
   font-size: 32px;
}

a:link {
   color: var(--link-color);
}

a:visited {
   color: var(--visited-color)
}

a:active {
   color: var(--link-color)
}

h1 {
  background-color: var(--color);
  color: var(--background-color)
}

.home-image {
  width: 500px;
  margin: auto;
  display: block;
}

.about-image {
  width: 700px;
  margin: auto;
  display: block;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--code-background-color);
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  max-width: 100px;
  min-width: 60px;
  padding: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.navigation a {
  color: var(--color);
  text-decoration: none;
  padding: 10px;
}
.navigation a:hover {
    color: var(--link-color);
}

.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-color: var(--color);
    border-radius: 5px;
    display: none;
}

.nav-button img {
    width: 40px;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 100%;
}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
    background-color: var(--background-color);
    color: var(--color);
}

#search button {
    padding: 10px;
    border: solid 1px;
    background-color: var(--color);
    color: var(--color);
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* --- carousel --- */
.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
}
.slide h2 {
  font-size: 3.5em;
  text-shadow: 0px 0px 0px black;
}
.slide button {
  padding: 10px;
  color: var(--color);
  background-color: var(--background-color);
  min-width: 300px;
  border: solid 1px var(--color);
  border-radius: 8px;
}
.slide:nth-child(1) {
   background-image: url("images/carousel/halloween.jpg")
}
.slide:nth-child(2) {
   background-image: url("images/carousel/black-friday.jpg")
}
.slide:nth-child(3) {
   background-image: url("images/carousel/cyber-monday.jpg")
}
.slide:nth-child(4) {
   background-image: url("images/carousel/thanksgiving.jpg")
}

nav a {
  text-decoration: none;
}

.main-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--code-background-color);
  padding: 20px 30px;
  margin-top: 30px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}
.social-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 120%;
}
.legal-nav {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
}

/* Card */
.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.card img {
    max-width: 100%;
}
.card-content {
    padding: 15px;
}
.card {
    flex: 1;
    background-color: var(--background-color);
    border: 1px solid var(--color);
    border-radius: 10px;
    overflow: hidden;
}
.card button {
    min-width: 100%;
    padding: 12px;
    border: 1px solid var(--color);
    color: var(--color);
    background-color: var(--background-color);
    border-radius: 5px;
}
.main-content {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}

.banner2 {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--code-background-color);
  margin-top: 1em;
}

.banner2 button {
  padding: 10px;
  color: var(--color);
  background-color: var(--background-color);
  min-width: 300px;
  border: solid 1px var(--color);
  border-radius: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  margin-bottom: 0.5em;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;  
}
.contact-form button {
  min-width: auto;
  color: var(--color);
  background-color: var(--background-color);
}
.contact-details a {
  color: var(--link-color)
}
